NUMLEX_PROVIDER_BASE_URL=http://127.0.0.1:18581
NUMLEX_ROUTES_PATH=W:\code_hard\numlex\localhost-provider\routes.json
NUMLEX_LOCATIONS_PATH=W:\code_hard\numlex\proxy\available_locations.json
dbSource=
