bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
/.claude/
/Scripts/
/dllReady/
/ZennoLab/ExternalAssemblies/z3n7.Numlex.dll
/z3n7.Numlex/
Directory.Build.props
Directory.Build.targets
.env
